@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}

.sidenav-option:hover {
  background-color: #d3d3d3; /* Light grey hover effect */
}

.scrollbar-hide::-webkit-scrollbar {
  display: none; /* Hide scrollbar on WebKit browsers */
}
.scrollbar-hide {
  -ms-overflow-style: none;  /* Hide scrollbar on IE and Edge */
  scrollbar-width: none;     /* Hide scrollbar on Firefox */
}